body{
    font-family: 'Metrophobic', sans-serif;
    margin: auto;
}

nav img{
    width: 25px;
}

header{
    margin-top: 25px;
}

.welcome{
    position: relative;
}
.welcome img{
    width: 100%;
}
h1{
    font-size: 45px;
}
.overlay{
    color: white;
    position: absolute;
    top: 25%;
    left: 20%;
}

main{
    width: 800px;
    margin: auto;
}

.whitebox{
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 800px;
    display: flex;
    align-items: center; 
    justify-content: center;
    position: relative;
}

.text-container{
    padding-left: 30px;
    width: 500px;
    text-align: left;
}

.overlay2{
    color: white;
    position: absolute;
    top: 15%;
    left: 13%;
}

.level{
    color: #4c6ef5;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
}

.level ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    list-style-type: none;
    padding: 0;
}

.box1 img{
    width: 300px;
    position: relative;
}

.bluebox{
    background-color: #4c6ef5;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.bluebox h2{
    color: white;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 20px;
    width: 200px;
    max-width: 100%;
}

.card img{
    width: 200px;
}

h4{
    font-size: 20px;
    color: #000000;
}

.overlay3{
    color: white;
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 100px;
}
.about{
    text-align: center;
    margin-top: 30px;
}

.about img{
    width: 150px;
}

.about p{
    padding: 50px;
}

section{
    color: white;
    text-align: center;
    position: relative;
}

section img{
    width: 100%;
}
.overlay4{
    position: absolute;
    top: 25%;
    left: 42%;
}

.search{
    background-color: rgb(60, 60, 56);
}

button{
        background-color: blue;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
}

footer{
    margin-top: 10px;
}

footer ul{
    display: flex;
    flex-direction: row;
    align-items:right;
    justify-content:space-between;
    list-style-type: none;
    padding: 10px;
    width: 500px;
}