body{
    font-family: 'Metrophobic', sans-serif;
    margin: auto;
    box-sizing: border-box;
}

nav img{
    width: 25px;
}

header{
    margin-top: 25px;
}

.welcome{
    position: relative;
}
.welcome img{
    width: 100%;
}
h1{
    font-size: 45px;
}
h2{
    font-weight: bold;
}
.overlay{
    color: white;
    position: absolute;
    top: 25%;
    left: 20%;
}

main{
    width: 800px;
    margin: auto;
}

.whitebox{
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 800px;
    display: flex;
    align-items: center; 
    justify-content: center;
    position: relative;
}

.text-container{
    padding-left: 30px;
    text-align: left;
}

.overlay2{
    color: white;
    position: absolute;
    top: 15%;
    left: 13%;
}

.level{
    color: #4c6ef5;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    padding-top:30px ;
}

.level ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    list-style-type: none;
    padding: 0;
}

.box1 img{
    width: 300px;
    position: relative;
}

.bluebox{
    background-color: #4c6ef5;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.bluebox h2{
    color: white;
}
.american{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.card{
    margin: 10px;
    text-align: center;
    border: 0;
    font-size: 30px;
    padding-bottom: 15px;
}

.card button{
    margin: auto;
}

.card img{
    width: 200px;
}

h4{
    font-size: 20px;
    color: #000000;
}

.overlay3{
    color: white;
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 100px;
}

.subtitle{
    color: #4c6ef5;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
}

.about{
    text-align: center;
    margin-top: 30px;
}

.about img{
    width: 150px;
}

.about p{
    padding: 50px;
}

section{
    color: white;
    text-align: center;
    position: relative;
}

section img{
    width: 100%;
}
.overlay4{
    position: absolute;
    top: 25%;
    left: 42%;
}

.search{
    background-color: rgba(60, 60, 56, 0.65);
}

button{
        background-color: #4c6ef5;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        width: min-content;
        font-weight: bold;

}

footer{
    margin-top: 10px;
}

footer ul{
    display: flex;
    flex-direction: row;
    align-items:right;
    justify-content:space-between;
    list-style-type: none;
    padding: 10px;
    width: 500px;
}

/* Quiz styles */

.app, .appNba, .appNfl{
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    padding: 30px;
}

.quiz, .quizNba, .quizNfl{
    padding: 20px 0;
}

.quiz h2, .quizNba h2, .quizNfl h2{
    font-size: 25px;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.btn, .btnNba, .btnNfl{
    background-color: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 5px;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background-color: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}

.btnNba:hover:not([disabled]){
    background-color: #222;
    color: #fff;
}
.btnNba:disabled{
    cursor: no-drop;
}

.btnNfl:hover:not([disabled]){
    background-color: #222;
    color: #fff;
}
.btnNfl:disabled{
    cursor: no-drop;
}

.correct{
    background: #00e664;
}
.incorrect{
    background: red;
}

/* Modal styles */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modalNba, .modalNfl{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 50px;
  }
  
  .modal-content, .modal-contentNba, .modal-contentNfl {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close, .closeNba, .closeNfl {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus, .closeNba:hover, .closeNba:focus, .closeNfl:hover, .closeNfl:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
